---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import IconFrame from '../components/IconFrame.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

// Represent these in a different format
const postApps = posts.map((post) => ({ title: post.frontmatter.title, url: post.url }));

// Apps that do not correspond to actual blog posts
const staticApps = [
  { title: "GitHub", url: "https://github.com/organizedgrime"},
  { title: "Twitter", url: "https://twitter.com/vera_lgbt"},
  { title: "LinkedIn", url: "https://www.linkedin.com/in/vera-gonzalez/"},
];

// Concatenate the Post apps with the Static apps
const allApps = postApps.concat(staticApps);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
      <div class="main-container">
					{
						allApps.map((app) => (
              <IconFrame title={app.title} url={app.url} />
						))
					}
      </div>
		</main>
		<Footer />
	</body>
</html>

<style>
  .main-container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 10px;
    flex-wrap: wrap;
    margin: 20px auto 50px auto;
  }
</style>