---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import App from '../components/App.astro';
import AppIcon from '../components/AppIcon';

import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
// import Rive from '@rive-app/react-canvas';

// const Simple = function() {
//   return <img />
// };

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
      <AppIcon client:load filename="poison-loader" />

      <div class="main-container">
					{
						posts.map((post) => (
              <App title={post.frontmatter.title} appIcon={post.frontmatter.appIcon} />
						))
					}
      </div>
		</main>
		<Footer />
	</body>
</html>

<style>
  .main-container {
    max-width: 885px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto 50px auto;
  }
</style>