---
type Props = {
  href: string;
}

const { href } = Astro.props;
---
<a href={href} class="animate px-3 py-1.5 rounded border border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 hover:text-black dark:hover:text-white transition-colors" style="margin:0.5em auto;">
  <div class="text-lg">
    <slot/>
  </div>
</a>
