---

---

<style>
.collapsible {
  cursor: pointer;
  border: none;
  outline: none;
}

.active, .collapsible:hover {
  background-color: #555;
}
</style>

<div>
	<div class="collapsible">
		<span>&emsp;</span><slot name="title">TITLE</slot>
	</div>
	<div class="content" style="display:none">
		<slot name="content">CONTENT</slot>
	</div>
</div>


<script>
	$('.collapsible').click(function(){
		$(this).siblings('.content').toggle();
	});
</script>

