---

---

<style>
.container {
	border: 2px solid black;
	border-radius: 8px;
	margin:0.5em auto;
	padding-right: 0.5em;
	padding-left: 0.5em;
}

.title {
  cursor: pointer;
}

.active, .title:hover {
  background-color: #222;
}
</style>

<div class="container">
	<div class="title">
		<slot name="title">TITLE</slot>
	</div>
	<div class="content" style="display:none">
		<slot name="content">CONTENT</slot>
	</div>
</div>

<script>
	var titleSelector = 'h1, h2, h3, h4, h5, h6';
	var right = '';
	var down = '';
	var indicator = '<span class="indicator">' + right + '</span>';
	$('.title').find(titleSelector).prepend(indicator + '&emsp;');
	$('.title').data('hidden', true);
	$('.title').click(function(){
		var hidden = !$(this).data('hidden');
		$(this).data('hidden', hidden);
		$(this).find('.indicator').html(hidden ? right : down);
		$(this).siblings('.content').slideToggle('slow');
	});
	$('.container').css('border', function(){
		return '2px solid ' + $(this).find('.indicator').css('color');
	});
</script>

