---

---

<style>
.collapsible {
  cursor: pointer;
  border: none;
  outline: none;
}

.active, .collapsible:hover {
  background-color: #555;
}
</style>

<div>
	<div class="title">
		<slot name="title">TITLE</slot>
	</div>
	<div class="content" style="display:none">
		<slot name="content">CONTENT</slot>
	</div>
</div>


<script>
	var titleSelector = 'h1, h2, h3, h4, h5, h6';
	var right = "";
	var down = "";

	$('.title').click(function(){
		$(this).siblings('.content').toggle();
	});

	//var title = $('.title').find(titleSelector).html();
	//console.log("title mew: " + title);
	//$('.title').find(titleSelector).html("-> " + title);
	$('.title').find(titleSelector).prepend(right + "&emsp;");


	//$('.title').children().children('h3').html("<span>&emsp;</span>" + title)
	//$('.title').css('color', color);
</script>

