---
import Rive from '@rive-app/react-canvas';
import AppIcon from './AppIcon';
const { title, appIcon } = Astro.props;
---
<div class="container">
  <div class="icon-container">
    <AppIcon client:load title={title} filename="poison-loader" />
  </div>
  <p>{title}</p>
</div>


<style>
  .container {
    margin: 0 auto;
  }

  /* Apple specifies a corner raidus of 80 for their 512x512 icon */
	.icon-container {
    width: 200px;
    height: 200px;
    border-radius: 20%;
    background-color: #ececec;
    overflow: hidden;
  }
</style>