---
import AppIcon from './rives/AppIcon';
const { title, appIcon, url } = Astro.props;
---
<div class="container">
  <a href={url}>
    <div class="icon-container">
        <AppIcon title={title} client:visible />
    </div>
    <span>{title}</span>
  </a>
</div>

<style>
  /* Main Container */
  .container {
    margin: 0 auto;
  }

  /* Icon-Container */
	.icon-container {
    /* Shape */
    width: 100px;
    height: 100px;
    border-radius: 20%;
    /* Masking */
    overflow: hidden;
    /* Animation */
    transition: margin 0.5s ease-in-out;
    transition: box-shadow 0.5s ease-in-out;
  }

  .icon-container:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,1);
    margin-top: -5px;
    /* margin-left: -5px; */
  }

  /* App Title */
  span {
    display: table;
    margin: 0 auto;
  }

  a {
    color: black;
    text-decoration: none;
  }
</style>