---
import RiveComponent from './RiveComponent';
const { title, appIcon } = Astro.props;
---
<div class="container">
  <div class="icon-container">
    <RiveComponent client:visible title={title} filename="poison-loader" />
  </div>
  <span>{title}</span>
</div>

<style>
  /* Main Container */
  .container {
    margin: 0 auto;
  }

  /* Icon-Container */
	.icon-container {
    /* Shape */
    width: 200px;
    height: 200px;
    border-radius: 20%;
    /* Masking */
    overflow: hidden;
    /* Default bg color if RIV doesn't load */
    background-color: #ececec;
  }

  /* App Title */
  span {
    display: table;
    margin: 0 auto;
  }
</style>