---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";

import { SITE, HOME, SOCIALS } from "@consts";

import { CREATIONS } from "@consts";

const creations = (await getCollection("creations"))
  .filter(creation => !creation.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout title={CREATIONS.TITLE} description={CREATIONS.DESCRIPTION}>
  <Container>
    <section class="animate space-y-6">
      <div class="animate font-semibold text-black dark:text-white">
        Creations
      </div>
      <ul class="animate flex flex-col gap-4">
        {
          creations.map((creation) => (
            <li>
              <ArrowCard entry={creation}/>
            </li>
          ))
        }
      </ul>
  </Container>
</PageLayout>
